
.checkout-footer{
    margin-top: 6rem;
  }
  .mrp-details, .discount-details, .delivery-details, .total-details{
    width: 89.94rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(94, 93, 93);
  }
  .mrp-text, .discount-text, .delivery-text{
    font-size: 1.5rem;
    color: rgb(94, 93, 93);
    margin: 0.2rem 0rem;
  }
  .delivery-charge{
    display: flex;
  }
  .delivery-charge .striked{
    margin-right: 0.5rem;
    text-decoration:line-through
  }
  .delivery-charge .free, .discount{
    color: #54b226;
  }
  .total-details{
    font-weight: bold;
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .coupons-disclaimer{
    margin-top: 3rem;
    color: gray;
    font-size: 1.2rem;
  }