.category-list__list-item{
    height: 100%;
    padding: 0rem 1.5rem;
    color: #6a6868;
  }
  .category-list__list-item:hover{
    height: 6rem;
    cursor: pointer;
    background-color: #8080801c;
  }

#dropdown {
    position: absolute;
    z-index: 1;
    top: 14.2rem;
    right: 9.7rem;
    padding: 0rem;
    display: block;
    background: white;
    border: 0.002rem solid #00000036;
    border-top: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    list-style: none;
  
  }
  
  #more li{
    border: 0.002rem solid #00000036;
    border-top: none;
    padding: 1.5rem;
    padding-right: 2rem  ;
    display: none;
    color: #6a6868;
  }
  
  #more:hover #dropdown, #more:hover li{
    display: block;
  }
  #dropdown li:hover{
    cursor: pointer;
    background-color: #8080801c;
  }