
.checkout-item{
    width: 89.94rem;
    margin: auto;
    height: 14rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .checkout-item__left{
    display: flex;
    align-items: center;
  }
  .checkout-container__item-weight{
    font-size: 1.34rem;
    margin-top: 0.2rem;
    color: #666666;
  
  }
  
  .checkout-item__price{
    display: flex;
    margin-top: 1.5rem;
  }
  .checkout-item__price .products-container__actual-price{
    margin-left: 0.5rem;
    font-size: 1.52rem;
  }
  .checkout-item--img{
    border: 0.1rem solid rgb(194 191 191 / 29%);
    height: 12rem;
    width: 15rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

.checkout-item--img img{
    height: 10rem;
    margin: auto;
  }