#category {
  margin: 0rem;
  padding: 0rem;
}

.categoryImage {
  height: 4.48rem;
  width: 4.48rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1.5rem;
}
.categoryImage__img {
  height: 64%;
}
.categoryActive {
  padding: 0rem 1.2rem;
  list-style: none;
  width: 22.4rem;
  height: 6rem;
  font-size: 1.51rem;
  border-bottom: 0.12rem solid #eee;
  background-color: rgb(235, 255, 239);
  border-left: 0.6rem solid rgb(36 150 64);
  cursor: pointer;
}

.categoryInactive {
  padding: 0rem 1.2rem;
  list-style: none;
  width: 22.4rem;
  height: 6rem;
  font-size: 1.51rem;
  border-bottom: 0.12rem solid #eee;
  border-left: 0.6rem solid white;
}

#category li:hover:not(.categoryActive) {
  background-color: rgb(235, 255, 239);
  border-left: 0.6rem solid rgb(235, 255, 239);
  cursor: pointer;
}
