.navbar__logo{
    border-right: 0.12rem solid #eeee;
    font-size: 4.5rem;
    letter-spacing: -0.3rem;
    font-weight: bold;
    padding: 0rem 3rem;
  }
  .navbar__logo-yellow{
    color: #f8cb46;  
  }
  .navbar__logo-green{
    color: #54b226;
  }