.deliveryDetails {
  margin-left: 4.5rem;
}
.deliveryTime {
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
}
.location {
  font-size: 1.34rem;
  letter-spacing: 0.12rem;
}
.location:hover {
  cursor: pointer;
}
