
.products-container__category__category-image{
    height: 4.48rem;
    width: 4.48rem;
    border-radius: 0.75rem;
    border: none;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-right: 1.5rem;
  }
  .products-container__category-image-img{
    height: 64%;
  }
  .products-container__category--active{
    padding: 0rem 1.2rem;
    list-style: none;
    width: 22.4rem;
    height: 6rem; 
    font-size: 1.51rem;
    border-bottom: 0.12rem solid #eee;
    background-color: rgb(235, 255, 239);
    border-left: 0.6rem solid rgb(36 150 64);
    cursor: pointer;
  }
  
  
  .products-container__category--inactive{
    padding: 0rem 1.2rem;
    list-style: none;
    width: 22.4rem;
    height: 6rem; 
    font-size: 1.51rem;
    border-bottom: 0.12rem solid #eee;
    border-left: 0.6rem solid white;
  }
  
  .products-container__category li:hover:not(.products-container__category--active){
    background-color: rgb(235, 255, 239);
    border-left: 0.6rem solid rgb(235, 255, 239);
    cursor: pointer;
  }
  