.download__button {
  margin: 0rem 0.75rem;
  width: 12rem;
  overflow: hidden;
  height: 3rem;
  padding: 0rem;
  border: none;
}

.download__button img {
  width: 12rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.43rem;
}
