
.checkout-proceed-outer{
    margin-top: 3rem;
    width: 89.94rem;
    display: flex;
    border: 0.1rem solid rgba(201, 195, 195, 0.662);
    border-radius: 0.5rem;
    height: 8rem;
  }
  .checkout-proceed-inner{
    margin: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color:rgb(12,131,31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .checkout-proceed__left{
    display: flex;
  }

.items-total{
    margin-right: 1rem;
  }
  .original-price{
    margin-left: 0.5rem;
    text-decoration: line-through;
    font-weight: 100;
  }
  .checkout-proceed__right:hover{
    cursor: pointer;
  }
  